.wrapper{
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    width: 600px;
}

.avatar{
    max-width: 15vw;
    max-height: 30vh;
    border-radius: 6px;
    object-fit: cover;
}

#img-section p,#deactivate p{
    font-size: 12px;
    color: var(--text-primary);
    margin-bottom: 10px;
    text-align: justify;
}

#img-section b,#img-section button,#deactivate b{
    font-size: 14px; 
}

/* label{
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-primary);
    padding-left: 3px;
} */


textarea[placeholder],input[placeholder]{
    font-weight: 500;
    color: var(--text-primary);
}

textarea::placeholder,input::placeholder {
    color: var(--text-muted) !important;
    font-weight: 500;
    font-size: 14px;
}


.form-control:focus{
    box-shadow: none;
    border: 1.5px solid var(--accent-color) !important;
}

select{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    /* -webkit-appearance: none; */
}

select:focus{
    outline: none;
}
@media(max-width:576px){
    .wrapper{
        padding: 25px 20px;
    }
    #deactivate{
        line-height: 18px;
    }
}