/* Base color scheme */
:root {
    --bg-primary: #ffffff;
    --text-primary: #000000;
    --bg-secondary: #f4f4f4;
    --accent-color: #007bff;
    --text-muted: #929292;
    --text-muted-strong: #737373;
}

/* Dark theme color scheme */
.dark-theme {
    --bg-primary: #121212;
    --text-primary: #d3d3d3;
    --bg-secondary: #1e1e1e;
    --accent-color: #3f9fff;
    --text-muted: #5e5e5e;
    --text-muted-strong: rgb(165, 165, 165);
}

/* Global theme styles */
body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

.bg-secondary {
    background-color: var(--bg-secondary) !important;
}